.quizResult1 {
  display: none;
}

.quizResult2 {
  display: none;
}

.quizResult3 {
  display: none;
}

.jumbotron {
  text-align: center;
  margin-top: 20px;
}

.container {
  text-align: center;
}
