.nameEntered {
  display: none;
  font-size: 40px;
  font-weight: bold;
}

.userName {
  text-transform:capitalize;
}

.form-group {
  margin-top: 40px;
}

.form-group label {
  font-size: 25px;
}

#quizQuestions {
  display: none;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

#question1 {
  border-color: black;
  border-style: solid;
  padding: 30px;
  margin-left: 250px;
  margin-right: 250px;
  background-color: black;
  color: white;
}

#question2 {
  border-color: black;
  border-style: solid;
  padding: 30px;
  margin-top: 30px;
  margin-left: 250px;
  margin-right: 250px;
  background-color: black;
  color: white;
}

#question3 {
  border-color: black;
  border-style: solid;
  padding: 30px;
  margin-top: 30px;
  margin-left: 250px;
  margin-right: 250px;
  background-color: black;
  color: white;
}

#question4 {
  border-color: black;
  border-style: solid;
  padding: 30px;
  margin-top: 30px;
  margin-left: 250px;
  margin-right: 250px;
  background-color: black;
  color: white;
}

#question5 {
  border-color: black;
  border-style: solid;
  padding: 30px;
  margin-top: 30px;
  margin-left: 250px;
  margin-right: 250px;
  background-color: black;
  color: white;
}

.quizResult1 {
  display: none;
  margin-top: 40px;
  font-weight: bold;
  font-size: 200%;
}

.quizResult2 {
  display: none;
  margin-top: 40px;
  font-weight: bold;
  font-size: 200%;
}

.quizResult3 {
  display: none;
  margin-top: 40px;
  font-weight: bold;
  font-size: 200%;
}

.jumbotron {
  text-align: center;
  margin-top: 20px;
}

.btn {
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
}

.btn:hover {
  color: black;
  background-color: #33ccff;
}

#takeQuizAgain {
  display: none;
}

.container {
  text-align: center;
}
